interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "Next.js 15 features", "search_depth":
      "advanced", "max_results": 5, "include_answer": true, "include_raw_content":
      false, "include_images": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"Next.js 15 features\",\"follow_up_questions\":null,\"answer\":\"Next.js
        15 introduces Server Actions, React Server Components, and improved TypeScript
        support. It also features enhanced caching and performance optimizations.\",\"images\":[\"https://i.ytimg.com/vi/EetWQhsXFjo/maxresdefault.jpg\",\"https://api.reliasoftware.com/uploads/nextjs_15_new_features_5df4d01230.webp\",\"https://miro.medium.com/v2/resize:fit:1358/1*3VslFq3sjOriDrbg6z96yw.png\",\"https://embarkingonvoyage.com/wp-content/uploads/2025/06/Why-Minimal-APIs-in-.NET-Are-Perfect-for-Agile-and-Microservice-Architectures-4.webp\",\"https://miro.medium.com/v2/resize:fit:1358/1*r6qHL4K75o8lAXYs-9dyTw.png\"],\"results\":[{\"url\":\"https://reliasoftware.com/blog/nextjs-15-new-features\",\"title\":\"What
        are New Features in Next.js 15? Next.js 15 Upgrade Guide\",\"content\":\"Next.js
        15 makes building fast and efficient web apps easier. With features like Server
        Actions, React Server Components, and Dynamic HTML Streaming, you can reduce
        your JavaScript load, speed up page rendering, and improve user experience.
        By following these simple patterns and tips, you can build modern, high-performance
        web applications with this Next.js latest version.\\n\\nFurther Reading:\\n\\n
        Next.js 15 Documentation\\n Server Actions in Next.js\\n Streaming and Suspense
        in Next.js [...] # What are New Features in Next.js 15? Next.js 15 Upgrade
        Guide\\n\\nNguyen Tri Nhan\\n\\nSoftware Development\\n\\nServer Actions,
        React Server Components, Dynamic HTML Streaming, Partial Prerendering (Experimental),
        next/after API (Experimental) are key Next.js 15 features. [...] Next.js 15
        builds on previous innovations to deliver significant improvements in performance
        and developer experience. This Next.js latest version focuses on optimizing
        Server Actions, React Server Components (RSC), and Dynamic HTML Streaming
        to streamline data handling, boost rendering efficiency, and reduce JavaScript
        bundle sizes.\",\"score\":0.9296516,\"raw_content\":null},{\"url\":\"https://www.syncfusion.com/blogs/post/whats-new-in-next-js-15-rc\",\"title\":\"What's
        New in Next.js 15 RC?\",\"content\":\"TL;DR: Explore Next.js 15 RC\u2019s
        innovative features, including support for React 19 RC, improved hydration
        error handling, and advanced caching updates. The blog covers stable enhancements
        like the React Compiler and experimental features such as partial prerendering.
        Learn how to upgrade to the new version and le[...]
