interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "Python best practices 2025", "search_depth":
      "advanced", "max_results": 5, "include_answer": true, "include_raw_content":
      false, "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"Python best practices 2025\",\"follow_up_questions\":null,\"answer\":\"Follow
        PEP 8 for style, use virtual environments, and adopt GitFlow for version control.\",\"images\":[],\"results\":[{\"url\":\"https://www.carmatec.com/blog/python-logging-best-practices-complete-guide/\",\"title\":\"Python
        Logging Best Practices: Complete Guide 2025 - Carmatec\",\"content\":\"20
        Data Analysis Project Ideas For Beginners In 2025\\n 5 Node.js HTTP Request
        Methods Every Developer Should Master [...] ``` [...] ```\",\"score\":0.9995627,\"raw_content\":null},{\"url\":\"https://gist.github.com/ruimaranhao/4e18cbe3dad6f68040c32ed6709090a3\",\"title\":\"A
        Guide of Best Practices for Python\",\"content\":\"\U0001F4D1 The Hitchiker's
        Guide to Python \u26A0\uFE0F\\n PEP 20 (The Zen of Python)\\n PEP 8 (Style
        Guide for Python)\\n Khan Academy Development Docs\\n Python Best Practice
        Patterns\\n Pythonic Sensibilities\\n The Pragmatic Programmer\\n 20 Elite
        Python Developers\\n and many other bits and bytes\\n\\[...]
