interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "Python programming best practices Python
      programming best practices Python programming best practices Python programming
      best practices Python programming best practices Python programming best practices
      Python programming best practices Python programming best practices Python programming
      best practices Python programming best practices Python programming best practices
      Python programming best pr", "search_depth": "advanced", "max_results": 5, "include_answer":
      true, "include_raw_content": false, "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"Python programming best practices Python programming best
        practices Python programming best practices Python programming best practices
        Python programming best practices Python programming best practices Python
        programming best practices Python programming best practices Python programming
        best practices Python programming best practices Python programming best practices
        Python programming best pr\",\"follow_up_questions\":null,\"answer\":\"Follow
        PEP 8 guidelines, use descriptive names, and write modular, reusable code
        for Python best practices.\",\"images\":[],\"results\":[{\"url\":\"https://dev.to/devasservice/python-best-practices-writing-clean-efficient-and-maintainable-code-34bj\",\"title\":\"Python
        Best Practices: Writing Clean, Efficient, and ...\",\"content\":\"Skip to
        content\\n\\nLog in    Create account\\n\\n## DEV Community\\n\\nDeveloper
        Service\\n\\nPosted on \u2022 Originally published at developer-service.blog\\n\\n#
        Python Best Practices: Writing Clean, Efficient, and Maintainable Code\\n\\n#python
        #bestpractices\\n\\nPython is one of the most popular programming languages
        due to its simplicity, readability, and versatility. [...] I find it helpful
        to emphasize the importance of following Python best practices for clean and
        maintainable code. From adhering to PEP 8 guidelines and using descriptive
        variable names to leveraging Python's built-in functions and handling exceptions
        smoothly, these tips can significantly enhance your coding experience.\\n\\nFor
        Python/Django software development, consider exploring sdh.global/services/python-django-...
        [...] ## Conclusion\\n\\nBy following these Python best practices, you can
        write code that is clean, efficient, and maintainable.\\n\\nWhether you\u2019re
        writing a small script or developing a large application, these principles
        will help you create better, more professional Python code.\\n\\nRemember,
        coding is not just about making things work; it\u2019s about making them work
        well, now and in the future.\\n\\n## Top comments (3)\\n\\nSubscribe\\n\\nEric
        Walter \\n\\nEric Walter\",\"score\":0.8452414,\"raw_content\":null},{\"url\":\"https://medium.com/red-buffer/python-production-level-coding-practices-4c39246e0233\",\"title\":\"Python:
        Production-Level Coding Practices\",\"content\":\"I also love to use Jupyter
        Notebook for Python. The interface is really convenient and the line-by-line
        coding really simplifies things and helps in quickly testing algorithms, but
        when you are writing a production-level code, the best practice is to use
        a good IDE. I prefer PyCharm. Th[...]
