interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "LangGraph workflow examples", "search_depth":
      "advanced", "max_results": 5, "include_answer": true, "include_raw_content":
      false, "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"LangGraph workflow examples\",\"follow_up_questions\":null,\"answer\":\"LangGraph
        is a tool for creating complex workflows using graph-based programming. It
        supports stateful workflows, conditional logic, and multistep interactions.
        It uses nodes and edges to define processes.\",\"images\":[],\"results\":[{\"url\":\"https://medium.com/@sitabjapal03/langgraph-part-1-automate-complex-workflows-using-genai-59bb8dc462aa\",\"title\":\"LangGraph(Part-1):
        Automate complex workflows using ...\",\"content\":\"```\\nfrom IPython.display
        import Image, displaytry: display(Image(main_work_flow.get_graph(xray=True).draw_mermaid_png()))except
        Exception: pass\\n```\\n\\n### Conclusion:\\n\\nIf you have reached this point
        I hope you clearly understand the use cases and basic constructs of LangGraph.
        By walking you through various examples, I tried to build an understanding
        of how to create nodes, define actions, and establish connections to form
        complex workflows. [...] ```\\n# Import necessary componentsfrom langgraph.graph
        import END, START, Graph# Initialize the graphworkflow = Graph() workflow.add_node[...]
