interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "PostgreSQL indexing", "search_depth":
      "advanced", "max_results": 5, "include_answer": false, "include_raw_content":
      false, "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"PostgreSQL indexing\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://www.mydbops.com/blog/postgresql-indexing-best-practices-guide\",\"title\":\"PostgreSQL
        Index Best Practices for Faster Queries\",\"content\":\"Indexes are a powerful
        tool for optimizing query performance in PostgreSQL, but they require careful
        planning and management. Understanding different index types, applying them
        strategically, and following best practices such as avoiding over-indexing
        and regularly maintaining indexes can significantly enhance database efficiency.
        To ensure optimal performance, monitor index usage, test query execution plans,
        and make adjustments as needed. With a well-structured indexing strategy,
        PostgreSQL [...] Indexing in PostgreSQL is a technique used to speed up data
        retrieval operations by creating pointers to rows in a table. Indexes significantly
        improve query performance, especially for large datasets. Without indexes,
        PostgreSQL has to perform full table scans, which can slow down response times.\\n\\n###
        Which index type should I use in PostgreSQL?\\n\\nIt depends on your use case:\",\"score\":0.99990463,\"raw_content\":null},{\"url\":\"https://www.tigerdata.com/learn/postgresql-performance-tuning-optimizing-database-indexes\",\"title\":\"PostgreSQL
        Performance Tuning: Optimizing Database ...\",\"content\":\"Efficient data
        retrieval is essential for achieving peak PostgreSQL application performance,
        particularly when dealing with vast datasets. Indexing is a robust solution
        that accelerates the retrieval of specific rows. This article will explore
        PostgreSQL indexing, sta[...]
