interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "React Server Components", "search_depth":
      "advanced", "max_results": 5, "include_answer": true, "include_raw_content":
      true, "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"React Server Components\",\"follow_up_questions\":null,\"answer\":\"React
        Server Components render on the server, reducing client-side JavaScript, and
        improve performance by fetching data and rendering ahead of time. They operate
        exclusively on the server, unlike client components. They enhance efficiency
        and interactivity in React applications.\",\"images\":[],\"results\":[{\"url\":\"https://www.builder.io/blog/why-react-server-components\",\"title\":\"React
        Server Components for Beginners\",\"content\":\"## React Server Components
        (RSC)\\n\\nReact Server Components (RSC) represent a new architecture designed
        by the React team. This approach aims to leverage the strengths of both server
        and client environments, optimizing for efficiency, load times, and interactivity.
        [...] Server Components represent a new type of React component specifically
        designed to operate exclusively on the server. And unlike client components,
        their code stays on the server and is never downloaded to the client. This
        design choice offers multiple benefits to React apps. Let's take a closer
        look at these benefits.\\n\\nZero-bundle sizes [...] ```\\n\\nThe introduction
        of Server Components marks a significant shift in the React ecosystem, offering
        new possibilities for building efficient and performant applications. As the
        React docs explain, this new rendering strategy combines the best aspects
        of server side React and client side React, allowing developers to create
        more optimized applications using familiar React features.\\n\\n### `\u201Cuse
        client\u201D` directive\",\"score\":0.9471519,\"raw_content\":\"[Skip to main
        content](#main)\\n\\n[Watch Now: How DealMaker 10x'd Productivity With AI-First
        Model\\n\\nWhat are best AI tools? Take the State of AI survey](https://www.builder.io/hub/webinars/dealmaker-10x-productivity)\\n\\n[Watch
        Now: How DealMaker 10x'd Productivity With AI-First Model\\n\\nWhat are best
        AI tools? Take the State of AI survey](https://www.builder.io/hub/webinars/dealmaker-10x-productivity)\\n\\n[\u2039
        Back to blog](/blog)\\n\\n#### Web Development\\n\\n# What are React Server
        Components? Understanding the Future of React Apps\\n\\n#### February 28,
        2024\\n\\n#### Written By [Vishwas Gopinath](/blog/authors/vishwas-gopinath)\\n\\nOver
        the past decade, [React](https://r[...]
